html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    /*font-family: "Helvetica Neue",sans-serif;*/
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(assets/bg-header.png) no-repeat 50% 50%;
    background-size: cover;
}

.hide{
    color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.header-overlay{
    transition: visibility 1s, opacity 0.5s linear;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 999!important;
    transition: visibility 1s, opacity 0.5s linear;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.white ul {
    background: white;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: white;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: white;
    }

    nav.white ul {
        background: white;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;

}

.no-margin {
    margin: 0!important;
}
.mt-20{
    margin-top: 20px!important;
}
.mt-100{
    margin-top: 100px!important;
}
.mb-100{
    margin-bottom: 100px!important;
}

.card {
    border: none!important;
}

.card-menu {
    width: 700px;
    height: 67px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.btn-group{
    height: 65px;
    /*width: 700px;*/
    border: none!important;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1)
}

.f-grey{
    color: #A4A4A4;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.container{
    z-index: -1;
}

.list-group-item{
    padding: 5px 0!important;
    border: none!important;
}
.row{
    margin-left: 0!important;
    margin-right: 0!important;
}

/*scroll to top*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px}
}

@media screen and (max-width: 450px) {
    a.btn-menu{
        padding-top: 23px!important;
        font-size: 10px!important;
    }
    .manre-navbar-card {
        width: 100% !important;
        height: 60px!important;
    }
}

.btn-menu{
    font-weight: 900!important;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    padding-top: 40px!important;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.manre-navbar-card{
    height: 100px;
    width: 1400px;
    max-width: 1000px;
}

.manre-navbar a{
    font-weight: 900 !important;
    text-decoration: none!important;
}
.manre-navbar a:hover{
    color: #111111;
}