
.uf-instagram:before { content: '\f16d'; } /* '' */
.uf-whatsapp:before { content: '\f232'; } /* '' */
.uf-commenting-o:before { content: '\f27b'; } /* '' */
.uf-shopping-basket:before { content: '\f291'; } /* '' */
.uf-envelope-open-o:before { content: '\f2b7'; } /* '' */
.uf-facebook-squared:before { content: '\f308'; } /* '' */